<% provide(:title, 'Bem-vindo') %>
<div class="row center jumbotron">
    <h1>Bem-vindo ao Sistema Administrativo da EloimOdonto</h1>
    <h3>Somos uma empresa comprometida com nossos clientes e 
    usamos as melhores tecnologias para o seu gerenciamento. Para saber mais,
    visite nosso <a href='http://www.eloimodonto.com.br'>site</a>.</h3>
    <%= link_to "Entrar", entrar_path, class: "btn btn-lg btn-success" unless logged_in? %>
</div>