<div class="row">
  <div class="col-md-7 col-md-offset-2 col-sm-8 col-sm-offset-3">
    <div class="panel panel-default">
      <span><div class="panel-heading"><i class="glyphicon glyphicon-<%= glyphicon %>"></i><h1><%= yield(:title) %></h1></div></span>
      <hr>
      <h2>Dados Pessoais</h2>
      <div class="panel-body">
        <%= form_for(@cadastro) do |f| %>
          <%= render 'shared/error_messages', controller: @cadastro %>
        
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.text_field :nome, class: 'form-control', placeholder: 'Nome completo' %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-star"></i></span>
                <%= f.select :sexo, ['Masculino', 'Feminino'], {:prompt => 'Sexo'}, {class: 'form-control'} %>  
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                <%= f.text_field :cpf, class: 'form-control', id: 'campoCPF', placeholder: 'CPF' %>
              </div>  
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                <%= f.text_field :rg, class: 'form-control', id: 'campoRG', placeholder: 'RG' %>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <%= f.text_field :data_de_nascimento, class: 'form-control', id: 'campoData', placeholder: 'Data de nascimento' %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                <%= f.text_field :profissao, class: 'form-control', placeholder: 'Profissão' %>
              </div>
            </div>
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-home"></i></span>
            <%= f.text_field :endereco, class: 'form-control', placeholder: 'Endereço completo' %>
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-home"></i></span>
            <%= f.text_field :complemento, class: 'form-control', placeholder: 'Complemento' %>
          </div>
          
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <%= f.telephone_field :telefone_fixo, class: 'form-control', id: 'campoTelefone', placeholder: 'Telefone fixo' %>
              </div>  
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <%= f.telephone_field number_to_phone(:telefone_celular, area_code: true), class: 'form-control', id: 'campoCelular', placeholder: 'Celular'%>
              </div>
            </div>
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Endereço de email' %>
          </div>
          
          <hr>
          <h2>Anamnese</h2>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-heart"></i></span>
            <%= f.select(:pressao, ['Normal', 'Hipertensão', 'Hipotensão'],{:prompt => 'Selecione o tipo de pressão sanguínea'}, {class: "form-control"}) %>
          </div>
          
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                <%= f.text_area :cardiaco, class: 'form-control', placeholder: 'Descreva todos os problemas cardíacos do cliente incluindo histórico de cardiopatias.' %>
              </div>  
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                <%= f.text_area :medicacao_em_uso, class: 'form-control', placeholder: 'Descreva as medicações que o cliente usa com frequência.'%>
              </div>
            </div>
          </div>
          
          <hr>
          
          <div class="row">
            <fieldset>
              <div class="center col-sm-12 col-md-6 com-lg-6">
                <div class="checkbox checkbox-default">
                  <%= f.check_box  :diabetes, html_options = { "class": "styled", "id": "checkbox1" } %>
                  <label for="checkbox1">É diabético?</label>
                </div>
              </div>
              <div class="center col-sm-12 col-md-6 col-lg-6">
                <div class="checkbox checkbox-default">
                  <%= f.check_box :fumante, html_options = { "class": "styled", "id": "checkbox2" } %>
                  <label for="checkbox2">É fumante?</label>
                </div>
              </div>
            </fieldset>
          </div>
          
          <hr>
          
          <div class="row">
            <fieldset>
              <div class="center col-sm-6 col-md-6 col-lg-6">
                <div class="checkbox checkbox-default">
                  <%= f.check_box :gestante, html_options = { "class": "styled", "id": "checkbox3" } %>
                  <label for="checkbox3">O paciente está gestante?</label>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-baby-formula"></i></span>
                   <%= f.select(:previsao_parto, (1..9), {:prompt => 'Caso afirmativo, selecione o mês de gestação'}, { type: 'integer', class:'form-control'} ) %>
                </div>
              </div>
            </fieldset>
          </div>
        </div> <!-- panel-body -->
        
        <div class="panel panel-footer">
          <div class="btn btn-group-justified">
            <div class="btn btn-group">
              <%= f.submit "Salvar", class: 'btn btn-success' %>
            </div>
            <div class="btn btn-group">
              <%= f.submit "Cancelar", class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      <% end %>
    </div> <!-- panel-->
  </div> <!-- com-md-8 -->
</div> <!-- row -->