<form action="<%= cadastros_path %>">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-credit-card" aria-hidden= "true"></span></div>
      <%= text_field_tag :cpf, params[:cpf], class: 'form-control', id:'campoCPF', placeholder: "CPF (somente números)" %>
    </div>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-credit-card" aria-hidden= "true"></span></div>
      <%= text_field_tag :rg, params[:rg], class: 'form-control', id: 'campoRG', placeholder: "RG (somente números)" %>
    </div>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden= "true"></span></div>
      <%= text_field_tag :nome, params[:nome], class: 'form-control', placeholder: "Nome do cliente" %>
    </div>
  </div>
  <%= submit_tag "Pesquisar", name: nil, class: "btn btn-success" %>
</form>
