<table class="table table-bordered table-hover">
    <thead>
        <th> Nome </th>
        <th> RG </th>
        <th> Telefone fixo </th>
        <th> Celular </th>
        <th> Data de registro </th>
    </thead>
    <tbody>
        <% @cadastros.each do |cadastro| %>
        <tr>
            <td> <%= link_to cadastro.nome, cadastro_path(cadastro) %> </td>
            <td> <%= cadastro.rg %> </td>
            <td> <%= cadastro.telefone_fixo %> </td>
            <td> <%= cadastro.telefone_celular %> </td>
            <td> <%= "#{cadastro.created_at.strftime("%d/%m/%Y")}" %> </td>
        </tr>
        <% end %>
    </tbody>
</table>