<% provide(:title, 'Cadastros') %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="panel panel-default">
            <span>
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-search"></i>
                    <h1>Buscar um cadastro</h1>
                    <h4>Escolha um dos campos abaixo para pesquisar:</h4>
                </div>
            </span>
            <div class="panel-body"><%= render 'cadastros/search' %></div>
        </div>
    </div>
    <%  unless @cadastros.nil? %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      <%= @cadastros.size if @cadastros.size > 0 %>
                      <%= 'resultado:' if @cadastros.size == 1 %>
                      <%= 'resultados:' if @cadastros.size > 1 %>
                      <%= 'Sem resultados' if @cadastros.size == 0 %>
                  </h3>
              </div>
              <%= render 'cadastros/search_result'%>
            </div>
        </div>
    <% end %>
</div>