<% provide(:title, @cadastro.nome) %>

<%= render 'layouts/sidebar' %>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-3">
        <div class="panel panel-default">
            <span><div class="panel panel-heading"><i class="glyphicon glyphicon-list-alt"></i><h1>Dados do Cliente</h1></div></span>
            <div class="panel panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Nome</th>
                            <td><%= @cadastro.nome %></td>
                        </tr>
                        <tr>
                            <th scope="row">CPF</th>
                            <td><%= @cadastro.cpf %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Sexo</th>
                            <td><%= @cadastro.sexo %></td>
                        </tr>
                        <tr>
                            <th scope="raw">RG</th>
                            <td><%= @cadastro.rg %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Profissão</th>
                            <td><%= @cadastro.profissao %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Endereço</th>
                            <td><%= @cadastro.endereco %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Complemento</th>
                            <td><%= @cadastro.complemento %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Data de nascimento</th>
                            <td><%= @cadastro.data_de_nascimento.strftime('%d/%m/%Y') %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Telefone fixo</th>
                            <td><%= @cadastro.telefone_fixo %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Telefone celular</th>
                            <td><%= @cadastro.telefone_celular %></td>
                        </tr>
                        <tr>
                            <th scope="raw">E-mail</th>
                            <td><%= @cadastro.email %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Problemas cardíacos</th>
                            <td><%= @cadastro.cardiaco %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Diabetes</th>
                            <td><%= @cadastro.boolean_convert @cadastro.diabetes %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Pressão sanguinea</th>
                            <td><%= @cadastro.pressao %></td>
                        </tr>
                        <% if @cadastro.sexo == "Feminino"%>
                            <tr>
                                <th scope="raw">Gestante</th>
                                <td><%= @cadastro.boolean_convert @cadastro.gestante %></td>
                            </tr>
                            <% if @cadastro.gestante %>
                                <tr>
                                    <th scope="raw">Mês de gestação atual</th>
                                    <td><%= @cadastro.previsao_parto %></td>
                                </tr>
                            <% end %>
                        <% end %>
                        <tr>
                            <th scope="raw">Fumante</th>
                            <td><%= @cadastro.boolean_convert @cadastro.fumante %></td>
                        </tr>
                        <tr>
                            <th scope="raw">Medicação em uso</th>
                            <td><%= @cadastro.medicacao_em_uso %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- panel -->
    </div> <!-- col -->
</div>