<% provide(:title, "Entrar") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <span>
        <div class="panel-heading">
          <i class="glyphicon glyphicon-log-in"></i>
          <h1>Fazer login</h1>
        </div>
      </span>
      <hr/>
      <div class="panel-body">
      <%= form_for(:session, url: entrar_path) do |f| %>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :usuario, class: 'form-control', placeholder: 'Usuário', autofocus: true %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Senha', autofocus: true %>
        </div>
        <div id="login">
          <%= f.submit "Entrar", class: "btn btn-default" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>