<div class="col-md-7 col-md-offset-2 col-sm-8 col-sm-offset-3">
    <div class="panel panel-default">
      <span><div class="panel-heading"><i class="glyphicon glyphicon-<%= glyphicon %>"dd></i><h1><%= yield(:title) %></h1></div></span>
        <div class="panel-body">
          <%= form_for @estoque do |f| %>
              <%= render 'shared/error_messages', controller: @estoque %>
              
            <div class="row">
                <div class="col-md-6">
                    <label for="nome">Nome</label>
                    <%= f.text_field :nome, class: 'form-control' %>
                </div>
                <div class="col-md-6">
                    <label for="codigo_barras">Código de barras</label>
                    <%= f.number_field :codigo_barras, min: 0, class: 'form-control' %>
                </div>
            </div><!-- div?class.row -->
            <div class="row">
                <div class="col-md-12">
                    <label for="descricao">Descrição</label>
                    <%= f.text_area :descricao, class: 'form-control' %>
                </div>
            </div><!-- div?class.row -->
            <div class="row">
                <div class="col-md-4">
                    <label for="validade">Validade</label>
                    <%= f.date_field :validade, class: 'form-control' %>
                </div>
                <div class="col-md-4">
                    <label for="custo_unidade">Custo unitário</label>
                    <%= f.number_field :custo_unidade, min: 0, step: 'any', class: 'form-control' %>
                </div>
                <div class="col-md-4">
                    <label for="quantidade">Quantidade</label>
                    <%= f.number_field :quantidade, min: 1, class: 'form-control' %>
                </div>
            </div><!-- div?class.row -->
            <div class="btn btn-justified">
                <%= f.submit "Salvar", class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
    </div>
</div>