<% provide(:title, 'Ver estoque') %>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
    <div class="panel panel-default">
        <span>
            <div class="panel-heading">
                <i class="glyphicon glyphicon-search"></i>
                <h1>Buscar um produto</h1>
                <h4>Escolha um dos campos abaixo para pesquisar:</h4>
            </div>
        </span>
        <div class="panel-body"><%= render 'estoques/search' %></div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
    <div class="panel panel-default">
        <span>
            <div class="panel panel-heading">
                <i class="glyphicon glyphicon-list-alt"></i>
                <h1>Produtos registrados</h1>
            </div>
        </span>
        <div class="panel panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Código de barras</th>
                        <th>Unidades em estoque</th>
                    </tr>
                </thead>
                <tbody>
                    <% @estoques.each do |estoque| %>
                    <tr>
                        <td><%= estoque.nome %></td>
                        <td><%= estoque.codigo_barras %></td>
                        <td><%= estoque.quantidade %></td>
                        <td><%= link_to "Ver", estoque %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="painel painel-footer center">
            <%= will_paginate %>
        </div>
    </div> 
</div>