<% provide(:title, 'Ver produto') %>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
    <div class="panel panel-default">
        <span><div class="panel panel-heading"><i class="glyphicon glyphicon-list-alt"></i><h1><%= @estoque.nome %></h1></div></span>
        <div class="panel panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Código de barras</th>
                        <td><%= @estoque.codigo_barras %></td>
                    </tr>
                    <tr>
                        <th scope="raw">Descrição</th>
                        <td><%= @estoque.descricao %></td>
                    </tr>
                    <tr>
                        <th scope="raw">Quantidade</th>
                        <td><%= @estoque.quantidade %></td>
                    </tr>
                    <tr>
                        <th scope="raw">Validade</th>
                        <td><%= @estoque.validade %></td>
                    </tr>
                    <tr>
                        <th scope="raw">Custo unitário</th>
                        <td><%= @estoque.custo_unidade %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-footer">
            <div class="btn-group btn-group-justified" role="group" >
                <div class="btn">
                    <%= link_to "Editar", edit_estoque_path, class: 'btn btn-default' %>
                    <a href="#" class="btn btn-danger" data-target="#myModal" data-toggle="modal" %>
                        Excluir
                    </a>
                </div>
            </div>
        </div>
        
    </div> <!-- panel -->
</div> <!-- col -->

<%= render 'shared/modal_delete', controller: @estoque %>
