<%= form_for [@cadastro, @orcamento] do |f|%>
    <%= render 'shared/error_messages' %>
    <div class="row">
      
        <div class="col-md-4">
            <div class="input-group-addon">
              <p class="">
                Exodontia
              </p>
                <%= f.number_field :exodontia_preco, class: 'form-control', step: 'any', placeholder: 'R$' %>
                <%= f.number_field :exodontia_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <div class="input-group-addon">
              <p class="">
                Cirurgia
              </p>
              <%= f.number_field :cirurgia_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :cirurgia_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
        </div>
        <div class="col-md-4">
            <div class="input-group-addon">
              <p class="">
                Restauração Estética
              </p>
              <%= f.number_field :restauracao_estetica_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :restauracao_estetica_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group-addon">
              <p class="">
                Selante
              </p>
              <%= f.number_field :selante_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :selante_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
        </div>
        <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Polimento
              </p>
              <%= f.number_field :polimento_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :polimento_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Tratamento de Canal
              </p>
              <%= f.number_field :tratamento_de_canal_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :tratamento_de_canal_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Remoção de Tártaro
              </p>
              <%= f.number_field :remocao_de_tartaro_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :remocao_de_tartaro_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
            <p class="">
              Canal de Molar
            </p>
            <%= f.number_field :canal_de_molar_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
            <%= f.number_field :canal_de_molar_qtd, class: 'form-control', placeholder: 'Quantidade' %>
          </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Limpeza
              </p>
              <%= f.number_field :limpeza_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :limpeza_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-md-4">
        <div class="input-group-addon">
          <p class="">
            Aplicacao de Fluor
          </p>
          <%= f.number_field :aplicacao_de_fluor_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
          <%= f.number_field :aplicacao_de_fluor_qtd, class: 'form-control', placeholder: 'Quantidade' %>
        </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Bloco
              </p>
              <%= f.number_field :bloco_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :bloco_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
          <p class="">
            Pino com Coroa de Porcelana
          </p>
          <%= f.number_field :pino_com_coroa_de_porcelana_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
          <%= f.number_field :pino_com_coroa_de_porcelana_qtd, class: 'form-control', placeholder: 'Quantidade' %>
        </div><!-- /input-group-addon -->
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Pivo Acrílico
              </p>
              <%= f.number_field :pivo_acrilico_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :pivo_acrilico_qtd, options: { min: 0}, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Prótese Parcial Removível
              </p>
              <%= f.number_field :protese_parcial_removivel_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :protese_parcial_removivel_qtd, options: { min: 0}, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Prótese de Silicone Flex
              </p>
              <%= f.number_field :protese_de_silicone_flex_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :protese_de_silicone_flex_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Prótese Total
              </p>
              <%= f.number_field :protese_total_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :protese_total_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Prótese Fixa
              </p>
              <%= f.number_field :protese_fixa_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :protese_fixa_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-4">
        <div class="input-group-addon">
              <p class="">
                Clareamento
              </p>
              <%= f.number_field :clareamento_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :clareamento_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="input-group-addon">
              <p class="">
                Raio-X
              </p>
              <%= f.number_field :raio_x_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :raio_x_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-3">
        <div class="input-group-addon">
              <p class="">
                Emergência
              </p>
              <%= f.number_field :emergencia_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :emergencia_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-3">
        <div class="input-group-addon">
              <p class="">
                Manutenção de Ap. Ort.
              </p>
              <%= f.number_field :aparelho_ortodontico_manutencao_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :aparelho_ortodontico_manutencao_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      <div class="col-md-3">
        <div class="input-group-addon">
              <p class="">
                Aparelho Estético de Safira
              </p>
              <%= f.number_field :aparelho_estetico_safira_preco, class: 'form-control', step: 'any', placeholder: 'R$'%>
              <%= f.number_field :aparelho_estetico_safira_qtd, class: 'form-control', placeholder: 'Quantidade' %>
            </div><!-- /input-group-addon -->
      </div>
      
    </div>
    
    <hr>
    
    <div class="btn btn-group-justified">
      <div class="btn btn-group">
        <%= f.submit "Salvar", class: 'btn btn-success' %>
      </div>
      <div class="btn btn-group">
        <%= f.submit "Cancelar", class: 'btn btn-danger' %>
      </div>
    </div>
<% end %>