<table class="table">
    <% @orcamentos.each do |orcamento| %>
      <tr id="remove_orcamento_<%= orcamento.id %>">
          <td>
              <%= link_to "Orçamento nº #{orcamento.id}, registrado em #{orcamento.created_at.strftime("%d/%m/%Y")}", "#", class: "list-group-item", type: 'button'%>
          </td>
          <td>
              <%= link_to "Excluir", cadastro_orcamentos_path, method: :destroy, remote: true %>
          </td>
      </tr>
    <% end %>
</table>

<% content_for :js do %>
  <% @orcamentos.each do |orcamento| %>
    $('#remove_orcamento_<%= orcamento.id %>').bind('ajax:success',
     function(){
       $('#orcamento_<%=orcamento.id%>').remove();
     }
    );
  <% end %>
<% end %>