<% provide(:title, "Ver Orçamentos") %>
<%= render 'layouts/sidebar' %>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="center"><%= @orcamentos.count %> orçamento(s) registrado(s).</h5>
            </div>         
            <%= render "orcamentos_lista" %>
            <div class="panel-footer">
                <%= will_paginate %>
            </div>
        </div>
    </div>
</div>