<% provide(:title, 'Novo Orçamento') %>

<%= render 'layouts/sidebar' %>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-3">
        <div class="panel panel-default">
            <span><div class="panel-heading"><i class="glyphicon glyphicon-plus"></i><h1>Novo orçamento</h1></div></span>
            <hr>
            <div class="panel-body">
                <%= render 'body' %>
            </div>
        </div>
    </div>
</div>