<% if controller.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Oh não! Verifique estes <%= pluralize(controller.errors.count, "erro") %>:
    </div>
    <ul class="list-group">
    <% controller.errors.full_messages.each do |msg| %>
      <li class="list-group-item"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>