// Place all the styles related to the cadastros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebarRow {
   margin-left: 0px;
   margin-right: 0px;
}