// Place all the styles related to the orcamentos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group-addon {
    background-color: transparent;
    border-color: transparent;
}

.col-md-4 {
    padding-top: 15px;
}

.panel-footer {
    background-color: transparent;
}

.panel-heading {
    background-color: transparent;
}