<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to "EloimOdonto", root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <% if logged_in? %>
      <div class="collapse navbar-collapse pull-right" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/painel">Painel <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><%= link_to "Novo cadastro", new_cadastro_path %></li>
              <li><%= link_to "Buscar cadastro", cadastros_path %></li>
            </ul>
          </li>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finanças<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-usd"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="#">Lançar crédito</a></li>
              <li><a href="#">Lançar débito</a></li>
              <li><a href="#">Ver balanço de contas</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estoque<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-inbox"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><%= link_to "Visualizar", estoques_path %></li>
              <li><%= link_to "Novo produto", new_estoque_path %></li>
            </ul>
          </li>
          <li ><a href="#">Enviar e-mail <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-send"></span></a></li>
          <li class="divider"></li>
          <li><%= link_to "Sair", sair_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Entrar", entrar_path, class: 'navbar-brand pull-right' %>
    <% end %>
</nav>