<div class="row">
    <nav class="navbar navbar-default sidebar" role="navigation" style="position: fixed">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>      
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to @cadastro do %> <%= @cadastro.nome %> <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span> <%end%> </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Ações <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a>
                  <ul class="dropdown-menu forAnimate" role="menu">
                    <li><%= link_to "Editar", edit_cadastro_path(@cadastro) %></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Excluir</a></li>
                    <li><a href="#">Imprimir</a></li>                    
                    <li class="divider"></li>
                    <li><a href="#">Enviar um e-mail</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Enviar um SMS</a></li>
                  </ul>
                </li>          
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Orçamentos <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span></a>
                  <ul class="dropdown-menu forAnimate" role="menu">
                    <li><%= link_to cadastro_orcamentos_path(@cadastro) do %> Ver orçamentos<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-eye-open"></span><%end%></li>
                    <li class="divider"></li>
                    <li><%= link_to new_cadastro_orcamento_path(@cadastro) do %> Novo orçamento<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-edit"></span><%end%></li>
                  </ul>
                </li>        
                <li ><a href="#">Solicitações de serviços<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
              </ul>
            </div>
        </div>
    </nav>
</div>

<%= render 'shared/modal_delete', controller: @cadastro %>