<!DOCTYPE html>
<html>
  
<head>
  <title><%= yield(:title) %> | EloimOdonto </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- Bootstrap mobile first -->
  <%= favicon_link_tag 'favicon.png' %> <!-- favicon -->
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"><%= message_type %>:</span>
            <%= message %>
          </div>
      <% end %>
      <%= yield %>
    </div>
  <%= debug(params) if Rails.env.development? %>
</body>

</html>